<h1>Minhas Campanhas</h1>

<ul>
  <% @campaigns.each do |campaign| %>
    <li>
      <%= link_to campaign.title, dashboard_campaign_path(campaign) %>
    </li>
  <% end %>
</ul>

<%= link_to 'Nova Campanha', new_campaign_path, class: 'btn btn-primary' %>
