<h1><%= @campaign.title %></h1>
<p><%= @campaign.description %></p>
<h2>Personagens</h2>
<ul>
  <% @campaign.characters.each do |character| %>
    <li><%= character.name %></li>
  <% end %>
</ul>
<%= link_to 'Criar novo personagem', new_campaign_character_path(@campaign) %>
